*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}
.calc-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calc-grid button{
    cursor: pointer;
    color: rgba(1, 1, 1, 0.664);
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(125, 155, 181, 0.556);
}
.calc-grid button:hover{
    opacity: 0.5;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.101);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(73, 98, 120, 0.481);
    font-size: 1.5rem;
}
.output .current-operand{
    color: rgb(73, 98, 120);
    font-size: 2.5rem;
}